# Ignore build output
bin/
obj/

# Ignore Visual Studio folder
.vs/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore temp files
*.tmp
*.log

# Ignore secrets and local configs
appsettings*.json
secrets.json
